.highlight {
  color: white;
  background-color: crimson;
  padding: 4px 8px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

#fadeText {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  background: #ffe;
  padding: 8px;
  border: 1px solid #ccc;
}

.fade-hidden {
  opacity: 0;
  visibility: hidden;
}
