.highlight {
  color: white;
  background-color: crimson;
  padding: 4px 8px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

#fadeText {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fade-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}
